<turbo-frame id="content">

    <h1>Johan Oh</h1>
    <p><strong>Fintech Engineer | Builder | Minimalist</strong></p>

     <p>I’m a software engineer with 7 years experience in Fintech, building secure and scalable systems. This site is a work in progress—just like all good things.</p>
</turbo-frame>
