<turbo-frame id="content">
    <meta name="description" content="This is the main page for Johan Oh's personal website, and includes information about who he is and what he does">
    <h1>Johan Oh</h1>
    <p><strong>Fintech Engineer | Builder | Minimalist</strong></p>

     <p>I’m a software engineer with 7 years experience in Fintech, building secure and scalable systems. This site is a work in progress—just like all good things.</p>
</turbo-frame>
