<turbo-frame id="content">
    <meta name="description" content="This is the main page for Johan Oh's personal website, and includes information about who he is and what he does">
    <h1>Johan Oh</h1>
    <p><strong>Software Developer | Torontonian</strong></p>

    <section class="section">
        <h2>About Me</h2>
        <p>Welcome to my personal website. I'm a self-taught software developer by trade, with 7 years of experience in the Fintech space. Outside of work, I’m usually wandering the city, tinkering with my homelab, getting lost in a book, or adding yet another unfinished project to my list.</p>
        <p>Born and raised in Toronto—aside from a few years in Sweden for high school—I love this city, for better or worse. Whether it's discovering a new coffee shop, catching a Leafs game, or cycling along the waterfront.</p>
        <p>Most weekends, you’ll find me on my bike, weaving through the city, hitting High Park, the Don Valley trails, or heading beyond to chase new scenic routes—while, of course, dodging the inevitable cars parked in bike lanes.</p>
        <p>
            Even though Toronto is home, I spent my high school years in Sweden—one of the perks of being a dual citizen. I try to keep up with my heritage and language as much as possible, mostly by watching Swedish television and news. 
            The difficult part comes to when to decide who to cheer for during international hockey games!
        </p>
    </section>
</turbo-frame>
