<turbo-frame id="content">
    <meta name="description" content="This is the about page for Johan Oh's personal website.  It includes details about what frameworks and technology the website uses">
    <h1>About This Website</h1>

    <p>
        This is my personal website—built to be <strong>simple, fast, and fully under my control</strong>.
        No bloated frameworks, no unnecessary JavaScript—just clean HTML, CSS, <a href="https://rubyonrails.org/", target="_blank">Ruby on Rails</a>, and <a href="https://turbo.hotwired.dev/", target="_blank">Turbo Hotwire.</a>
        Checkout the website that inspired the CSS <a href="https://bettermotherfuckingwebsite.com/" target="_blank">here</a>.
        Self-hosted on a Debian VM in my homelab.
    </p>
</turbo-frame>