<turbo-frame id="content">
  <meta name="description" content="This is the about page for Johan Oh's personal website. It includes details about what frameworks and technology the website uses">
  
  <h1>About This Website</h1>

  <p>
    This is my personal website—built to be <strong>simple, fast, and fully under my control</strong>.
    No bloated frameworks, no unnecessary JavaScript—just clean HTML, CSS, Ruby on Rails, and Turbo Hotwire.
    Checkout the website that inspired the CSS <a href="https://bettermotherfuckingwebsite.com/" target="_blank">here</a>.
    Self-hosted on a Debian VM in my homelab. You can checkout a deeper dive on the projects page.
  </p>
</turbo-frame>
