<turbo-frame id="content">
    <h1>About This Website</h1>

   <p>This is my personal website—built to be <strong>simple, fast, and fully under my control</strong>. No bloated frameworks, no unnecessary JavaScript—just clean HTML, CSS, Ruby on Rails, and Turbo Hotwire. The CSS is inspired by <a href="https://bettermotherfuckingwebsite.com/" target="_blank">Better Motherfucking Website</a>.</p>


</turbo-frame>
