<turbo-stream action="update" target="contact_form_status">
  <template>
    <p class="error"><%= local_assigns[:message] || "Something went wrong. Please try again later." %></p>
  </template>
</turbo-stream>
