<turbo-stream action="update" target="contact_form_status">
  <template>
    <p class="success">Your message has been sent successfully! I will strive to get back to you as soon as possible.</p>
  </template>
</turbo-stream>
